*{
	margin: 0px;
	padding: 0px;
	font-weight:bold;


}

.login{
	width: 300px;
	height: 200px;
	margin: 200px auto;

	
}

input{
	margin-top: 20px;
}

nav{
	background-color: white;
	height: 50px;

}

nav ul{
	
	list-style: none;

}

nav ul li a{
	text-decoration: none;
	float: left;
	margin: 10px;
	padding-left: 30px;
	margin-left: 200px;
	font-size: 20px;
	color: black;
}


.menu-bar{
	width: 100%;
	
	background: darkblue;
	text-align: center;
}

.menu-bar ul{
	display: inline-flex;
	list-style: none;
	color: white;
}

.menu-bar ul li{
	width: 120px;
	margin: 15px;
	padding: 15px;

}

.menu-bar ul li a{
	color: white;
	text-decoration: none;
}

.menu-bar ul li:hover{
	background:darkblue;
}

.menu-bar .fas{
	margin-left: 8px;
	color: black;
}

.sub-menu{
	display: none;
}

.menu-bar ul li:hover .sub-menu{
	display: block;
	background: darkblue;
	position: absolute;
	margin-top: 15px;
	margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu ul{
	display: block;
	margin: 10px;
}

.menu-bar ul li:hover .sub-menu ul li{
	width: 150px;
	padding: 10px;

}

.menu-bar ul li:hover .sub-menu ul li a:hover{
	color: white;
}


.dashboard{
	width: 100%;
	height: 600px;
}

.dashboard h1{
	text-align: center;
	padding-top: 30px;
}

.dashboard-item{
	width: 100%;
	margin-top: 100px;
}

.d-item{
	width: 200px;
	height: 50px;
	float: left;
	margin: 50px;
	border: 3px solid black;
	text-align: center;
	padding-top: 30px;
	border-top: 0px;
	font-size: 20px;

}

.d-item a{
	text-decoration: none;
	color: black;
}


.about-text{
	width: 900px;
	height: 400px;
	margin: auto;
	margin-top: 30px;
	border: 1px solid black;
}
.about-text h3{
	padding-left: 20px;
}

.about-text textarea{
	width: 800px;
	height: 300px;
	margin-top: 10px;
	margin-left: 25px;

}

.add-text{
	width: 900px;
	height: 110px;
	margin: auto;
	margin-top: 30px;
	border: 1px solid black;
}

.add-text input{
	width: 850px;
}

.COURSE-text{
	width: 950px;
	height: 500px;
	margin: auto;
	margin-top: 30px;
	border: 1px solid black;
}

.COURSE-text input{
	width: 100px;
}

.COURSE-text textarea{
		width: 700px;
	height: 250px;
}

.img-text{
	width: 950px;
	height: 170px;
	margin: auto;
	margin-top: 30px;
	border: 1px solid black;
}

.img-text input{
	width: 500px;
}

.contact-text{
	width: 1000px;
	height: 500px;
	margin: auto;
	margin-top: 30px;
	border: 1px solid black;
}

.contact-text1{
	width: 400px;
	height: 400px;
	float: left;
	margin-left: 50px;
	margin-top: 10px;

	
}

.contact-text2{
	width: 400px;
	height: 400px;
	float: left;
	margin-left: 50px;

	margin-top: 10px;
	
}

.clean{
	clear: both;
}

.contact-text input{
             width: 300px;

}

.contact-text textarea{
		width: 300px;
	height: 200px;
}

.state-text{
	width: 900px;
	height: 150px;
	margin: auto;
	margin-top: 30px;
	border: 1px solid black;
}

.state-text input{
	width: 300px;

}

.state-text label{
	margin-left: 10px;

}

.state-text select{
	margin: 10px;
}

.news-text{
	width: 1000px;
	height: 400px;
	margin: auto;
	margin-top: 30px;
	border: 1px solid black;
}

.news-text input{
             width: 300px;

}

.news input{
	width: 50px;
}




.news-text textarea{
		width: 300px;
	height: 200px;
}

.view-country{
	width:100%;
    padding-top: 30px;
	margin: 0 auto;
	text-align: center;
}

.view-text{
	width: 1000px;
	/*height: 300px;*/
	margin: 0 auto;
	margin-top: 30px;
	border: 1px solid black;
}

.view-text input{
	margin-bottom: 30px;
}

.view-text table input{
	
	margin:0px;
}

.view-text .btn{
	background-color: blue;
	width: 50px;
	margin-top: 50px;
}